body {
    background: url("background2.png") no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    padding: 40px;
    max-width: 100%;
    background-color: #59854c;
    height: 50px;
    margin-top: 0;
}

#content {

    /*tlo*/

    float: left;
    margin-left: 40px;
    margin-bottom: 40px;
    width: 75%;
    background-color: #c3dbbd;
    min-height: 750px;
    text-align: justify;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    /*font*/

    font-size: x-large;
    letter-spacing: 3px;
    line-height: 45px;
    font-family: 'Courgette', cursive;
    padding-right: 100px;
    padding-left: 100px;
}

.btn {
    align-items: center;
    background-color: #416737;
    border: 2px solid #416737;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    fill: #000;
    font-family: 'Courgette', cursive;
    font-size: 23px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 24px;
    min-width: 140px;
    padding: 0 17px;
    text-align: center;
    transition: all .3s;
    touch-action: manipulation;
    float: right;
}

.btn:focus {
    color: #fff;
}

.btn:hover {
    background-color: #c5433a;
    border-color: #c5433a;
}