body {
    background-color: #898585;
    padding: 0px 30px;
}

h1 {
    color: #242020;
    margin-bottom: 0px;
}

h3 {
    color: #242020;
    margin-bottom: 0px;
}

p {
    color: #242020;
    margin-top: 0px;
}
